body{
    background-color: rgb(0, 47, 255);
}




.cabeza{
    width: 300px;
    height: 300px;
    position:absolute;
    margin:0 auto;
    left: 0px;
    right: 0px;
    border-radius: 20%;
    background-color: rgb(255, 255, 255);
}

#relativo{
    position: relative;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    /*border: thin solid black;*/
}

#boca{

}

#ojo1{
    width: 80px;
    height: 80px;
    position:absolute;
    margin:80px;
    left: 100px;
    right: 0px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    /*animacion*/
    animation-name: grande;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes grande {
    0%{
        transform: scale(1);
    }
    20%{
        transform: scale(1.3);
    }
    40%{
        transform: scale(1.6);
    }
    50%{
        background-color: red;
    }
    60%{
        transform: scale(1.3);
    }
    70%{
        transform: scale(1);
    }
    80%{
        transform: scale(.5);
    }
    90%{
        transform: scale(.2);
    }
} 

#ojo2{
    width: 80px;
    height: 80px;
    position:absolute;
    margin:80px;
    left: -40px;
    right: 100px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    /*animacion*/
    animation-name: grande2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes grande2 {
    0%{
        transform: scale(1);
    }
    20%{
        transform: scale(1.3);
    }
    40%{
        transform: scale(1.6);
    }
    50%{
        background-color: red;
    }
    60%{
        transform: scale(1.3);
    }
    70%{
        transform: scale(1);
    }
    80%{
        transform: scale(.5);
    }
    90%{
        transform: scale(.2);
    }
}

.cuerpo{
position: relative;
}

.t_raya_negra{
    width: 225px;
    height: 450px;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    margin:0 auto;
    left: 0px;
    right: 0px;
    top:100px;
    z-index:-1;
    background-color: rgb(0, 0, 0);
}

.t_raya_blanca{
    width: 10px;
    height: 450px;
    position: absolute;
    margin:0 auto;
    left: 0px;
    right: 0px;
    top:100px;
    z-index:-1;
    background-color: rgb(255, 255, 255);
}

#t2_raya_blanca{
    width: 10px;
    height: 450px;
    position:absolute;
    margin: auto;
    left: -100px;
    right: 10px;
    top:100px;
    z-index:-1;
    background-color: rgb(255, 255, 255); 
}

#t3_raya_blanca{
    width: 10px;
    height: 450px;
    position:absolute;
    margin: auto;
    left: -150px;
    right: 10px;
    top:100px;
    z-index:-1;
    background-color: rgb(255, 255, 255); 
}

#t4_raya_blanca{
    width: 10px;
    height: 450px;
    position:absolute;
    margin: auto;
    left: -200px;
    right: 10px;
    top:100px;
    z-index:-1;
    background-color: rgb(255, 255, 255); 
}

#t5_raya_blanca{
    width: 10px;
    height: 450px;
    position:absolute;
    margin:0 auto;
    left: -50px;
    right: 10px;
    top:100px;
    z-index:-1;
    background-color: rgb(255, 255, 255); 
}

#t6_raya_blanca{
    width: 10px;
    height: 450px;
    position:absolute;
    margin:0 auto;
    left: 50px;
    right: 0px;
    top:100px;
    z-index:-1;
    background-color: rgb(255, 255, 255); 
}

#t7_raya_blanca{
    width: 10px;
    height: 450px;
    position:absolute;
    margin:0 auto;
    left: 100px;
    right: 0px;
    top:100px;
    z-index:-1;
    background-color: rgb(255, 255, 255); 
}

#t8_raya_blanca{
    width: 10px;
    height: 450px;
    position:absolute;
    margin:0 auto;
    left: 150px;
    right: 0px;
    top:100px;
    z-index:-1;
    background-color: rgb(255, 255, 255); 
}

#t9_raya_blanca{
    width: 10px;
    height: 450px;
    position:absolute;
    margin:0 auto;
    left: 200px;
    right: 0px;
    top:100px;
    z-index:-1;
    background-color: rgb(255, 255, 255); 
}

#triangulo{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0 ;
    z-index: 0;
    margin: 275px auto;
    width: 0; 
    height: 0; 
    border-left: 60px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 70px solid rgb(255, 255, 255);
    transform: rotate(300deg);
}

#brazo1{
    width: 30px;
    height: 150px;
    z-index:-2;
    position:absolute;
    margin:100px auto;
    left: 85px;
    top: 235px;
    border-radius: 50px 0px 50px 50px;
    transform: rotate(45deg);
    background-color: white;
}

#brazo2{
    width: 30px;
    height: 150px;
    background: #ffffff;
    z-index:-2;
    position: absolute;
    margin: 100px auto;
    right: 85px;
    top: 235px;;
    border-radius: 50px 0px 50px 50px;
    transform: rotate(-45deg);
    
}




#pierna1{
    width: 40px;
    height: 250px;
    z-index:-2;
    position: absolute;
    margin:230px auto;
    left: 175px;
    top: 310px;
    border-radius: 0px 0px 20px 20px;
    background-color: black;
    animation-name: piernamover1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes piernamover1 {

    0%{
        transform: translateY(-90%);
    } 
    100%{
        transform: translateY(0);
    }   
}

#pierna2{
    width: 40px;
    height: 250px;
    z-index:-2;
    position:absolute;
    margin:230px auto;
    right: 175px;
    top: 310px;
    border-radius: 00px 0px 20px 20px;
    transform: rotateY(180deg);  
    background-color: black;
    /*animacion*/
    animation-name: piernamover2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes piernamover2 {

    0%{
        transform: translateY(0);
    } 
    100%{
        transform: translateY(-90%);
    }   
}